.nav1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: large;
 color: #000000; 
 background-color:#CCAAEE;
 text-align:center;
 padding-bottom:10px;
 padding-top:10px;
}

.weekday {
 font-size: large;
 text-align:center;
}

.nav2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #000000;
	background-color:#DDDDDD;
	text-align:center;
 padding-bottom:10px;
 padding-top:10px;
}
.foot {
	font-size: small;
	color: #333333;
        border-top-style:groove;
}

body {
	background-color:#FEFEFF;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0077AA;

}
a:visited {
	color:#0077AA;
}
